@model Statistics.Models.Book
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Add Book</h2>
<form asp-action="EditBook" method="post">
    <input type="hidden" asp-for="BookId">
    
    <div class="form-group">
        <label asp-for="Name">Book Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    
    @*<div class="form-group">
        <label asp-for="Chapters">Chapter One</label><br>
        <input asp-for="Chapters" asp-action="AddChapter" class="form-control">
    </div>*@
    

    <div class="form-group">
        <label asp-for="Description">Description</label><br>
        <textarea asp-for="Description"></textarea>
    </div>
    
    <div class="text-left">
        <button asp-action="EditBook" class="btn btn-primary" type="submit">Save Book</button>
        <a asp-action="ViewBooksList" class="btn btn-default">Cancel</a>
    </div>
</form>
