@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @Html.ActionLink("View Books List", "ViewBooksList")<br/>
        
        @Html.ActionLink("Add Book", "AddBook")
    </div>
</body>
</html>