@model IEnumerable<Statistics.Models.Book>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @foreach (var book in Model)
      {
          <h1>@book.Name</h1>
          @book.Description
      }
</div>
</body>
</html>